@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
.tf_location_link {
    text-decoration:none;
}

.tf_location_link:hover {
    text-decoration:none !important;
}

.tf_location_link span {
    border-bottom:1px dashed;
}

.clear {clear: both; height: 0; font-size: 0; overflow: hidden;}
.custom-popup-2014{
    font-family: 'Open Sans', sans-serif;
}

.custom-popup-2014.loading {
    background:url(img/loading.gif) center center no-repeat #ffffff;
}

.custom-popup-2014 .custom-popup-2014-content{
    padding: 30px 20px 30px 30px;
    display:none;
}

.custom-popup-2014 .popup-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
}
.custom-popup-2014 .popup-search-wrapper{
    height: 40px;
    position: relative;
    margin: 0 0 35px 0;
    padding: 0;
}
:focus {
    outline: none;
}

.container-city-name{float:right;}
.user-city-name{font-size: 10px; color: darkgrey; font-weight: bold;}
.user-city-name p{margin: 0px;}
.user-city-name a{font-size: 10px; color: lightblue; text-decoration: none; border-bottom: 1px dotted lightblue;}
.user-city-name a:hover{font-size: 10px; color: red; text-decoration: none; border-bottom: 1px dotted red;}
.city-name{font-size: 12px; color: darkgrey; font-weight: bold;}
.custom-popup-2014 .popup-search-wrapper .field-text {
    background: #fff;
    -webkit-box-shadow: inset -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    inset -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         inset -1px 2px 13px 0px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 0 none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 18px !important;
    height: 40px !important;
    line-height: 40px !important;
    max-height: 40px !important;
    max-width: 640px !important;
    padding: 5px 0 !important;
    text-indent: 15px !important;
    width: 640px !important;
}
.custom-popup-2014 .popup-search-wrapper .clear_field {
    background: url("img/clear_field.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    position: absolute;
    right: 2px;
    top: 10px;
    width: 23px;
    display:none;
}
.custom-popup-2014 .popup-city{
    height: 300px;
    overflow: hidden;
    float: left;
    width: 420px;
}
.custom-popup-2014 .popup-city .inner {
}
.custom-popup-2014 .current-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    float: left;
    margin-left: 10px;
}
.custom-popup-2014 .current-list li {
    padding: 0;
    margin: 0;
    line-height: 30px;
    height: 30px;
    position: relative;
}
.custom-popup-2014 .current-list li a {
    font-size: 16px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}
.custom-popup-2014 .current-list li a:hover {
    text-decoration: none;
    border-bottom: 0;
}

.custom-popup-2014 .popup-city .result-list {
    float: left;
    list-style: none outside none;
    margin: 0 0 20px 0;
    padding: 0 10px;
    -webkit-column-width: 180px;
    -moz-column-width: 180px;
    column-width: 180px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    -webkit-column-rule: 0px solid #ccc;
    -moz-column-rule: 0 solid #ccc;
    column-rule: 0px solid #ccc;
    /*-webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;*/
}

.custom-popup-2014 .popup-city .result-list li {
    padding-bottom: 0.6em;
    overflow: hidden;
    list-style: none;
    page-break-inside: avoid;
    break-inside: avoid;
}

.custom-popup-2014 .popup-city .result-list li:before,
.custom-popup-2014 .popup-city .result-list li:after{
    content: none;
}
.tf-location__link {
    font-size: 16px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px dashed #777;
}
.tf-location__link:hover {
    /*text-decoration: none;*/
   /* border-bottom: 0;*/
    border-bottom: 1px dashed #333;
}
li.active .tf-location__link {
    color: #f4574d;
    border-bottom-color: #f4574d;
}
.custom-popup-2014 .popup-city .result-list li b {
    font-weight: 700;
}

.tf-location__region {
    display: block;
    font-size: 0.7em;
    color: #999;
    line-height: 1;
    margin-top: 0.3em;
}

.custom-popup-2014 .popup-city .shadow {
    background: url(img/shadow.png) repeat-x bottom;
    height: 25px;
    width: 630px;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.nicescroll-rails {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.hide-scroll{height: 250px; display: block; overflow: hidden;}
li.active a{color: red!important;}

body {
    margin: 0;
    padding: 0;
}
.custom-popup-2014-overlay{
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('img/custom-popup-overlay.png') repeat;
    z-index: 1000;
}
.custom-popup-2014{
    display: none;
    position: fixed;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1001;
    padding: 0;
    width: 690px;
    height: 425px;
    left: 50%;
    top: 50%;
    margin-left: -345px;
    margin-top: -230px;
}
.custom-popup-2014 .custom-popup-2014-content{
    padding: 30px;
}
.custom-popup-2014-close{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.3;
    /*background: url('img/custom-popup-close.png') no-repeat*/
}

.custom-popup-2014-close:hover {
    opacity: 0.7;
}
.custom-popup-2014-close:before,
.custom-popup-2014-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.custom-popup-2014-close:before {
    transform: rotate(45deg);
}
.custom-popup-2014-close:after {
    transform: rotate(-45deg);
}

.tf_location_link.in_order {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.tf_location_body_freeze{
    overflow: hidden;
}

.tf_location_body_blur {
    -webkit-filter:blur(3px);
    -ms-filter:blur(3px);
    -moz-filter:blur(3px);
    -o-filter:blur(3px);
    filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='3'/></filter></svg>#blur");
}

@media screen and (max-width: 700px)
{
  .custom-popup-2014
  {
    top: 0;
    width: 90%;
    height: 90%;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: -45%;
  }

  .custom-popup-2014-content
  {
    height: 96% !important;
    overflow: hidden;
  }

  .custom-popup-2014-content:before
  {
    position: absolute;
    content: '';
    z-index: 1;
    width: 90%;
    height: 25px;
    top: 96%;
    margin-top: -24px;
    background: url(img/shadow.png) repeat-x bottom;
  }

  .custom-popup-2014 .current-list
  {
      width: auto;
      float: none;
      margin-left: 0;
      margin-bottom: 15px;
  }

  .custom-popup-2014 .current-list li a
  {
      font-size: 20px;
  }

  .custom-popup-2014 .popup-city
  {
    float: none;
    width: 100% !important;
    height: 100% !important;
  }

  .custom-popup-2014 .popup-city .shadow
  {
    display: none;
  }

  .custom-popup-2014 .popup-search-wrapper .field-text
  {
    max-width: none !important;
    width: 100% !important;
  }

  .result-list
  {
    width: 100% !important;
  }

  .custom-popup-2014 .popup-city .result-list li
  {
    /*float: none;
    width: 100%;
    margin-bottom: 10px;*/
  }

  .custom-popup-2014 .popup-city .result-list li a
  {
    /*font-size: 20px;*/
  }

  .slimScrollDiv
  {
    height: 90% !important;
  }

  .custom-popup-2014 .popup-search-wrapper .clear_field
  {
    right: 12px;
  }
}
